---
---

@import "minimal-mistakes/skins/sunrise"; // skin
@import "minimal-mistakes";               // framework

/* ↓ site-wide spacing */
body {
  padding: 0 1rem;
}

/* ↓ your typography tweaks */
$serif: "Merriweather", Georgia, Times, serif;
$global-font-family: $serif;
$header-font-family: $serif;

/* ↓ wrapper override */
.page,
.page__inner,
.page__content {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
