---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$serif: "Merriweather", Georgia, Times, serif;
$global-font-family: $serif;
$header-font-family: $serif;
