body {
  background: #f5e0dc !important;
  color: #4c4f69 !important;
}
a {
  color: #d20f39 !important;
}
.site-header, .site-footer {
  background: #f2cdcd !important;
  color: #4c4f69 !important;
}
